<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="left">
    <div class="qz-lift layui-hide-xs">
        <div>
            <i class="am-icon-quote-left"></i>
            <div class="qz-gonggao">
                <p class="last">分析源码是一种解决思路。</p>
                <p class="last">源码可以在总体上</p>
                <p class="last">提高我们的工作效率，</p>
                <p class="last">减少无意义的重复劳动。</p>
            </div>
            <i class="am-icon-quote-right"></i>
        </div>
        <div>
            <i class="am-icon-quote-left"></i>
            <div class="qz-gonggao qz-xinxi">
                <p>如果你能看得</p>
                <p>更远一点的话，</p>
                <p>是因为你站在</p>
                <p>前人的肩膀上。</p>
            </div>
            <i class="am-icon-quote-right"></i>
        </div>
    </div>
</div>

</body>
</html>