<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="lunbo">
    <div class="radioBroadcast" style="padding: 1px;">
        <i class="am-icon-volume-up messVO" style="margin-left: 5px;color: #fbd602;"></i>
        <div class="roll">
            <ul>
                <li>软件源码参考~~~</li>
                <li>网站源码参考~~~</li>
                <li>java源码下载~~~</li>
                <li>java源码~~~</li>
                <li>软件开发源码~~~</li>
                <li>毕设源码参考~~~</li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>